<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
<h1>This is products page</h1>
<a href="{% url 'store:home' %}">Home page</a>
    <ul>
    {% for product in products %}
        <a href="{% url 'store:product_detail' product_pk=product.pk %}"><li>Title: {{ product.title }} -- {{ product.price }} Gel </li></a>
    {% endfor %}
    </ul>

</body>
</html>